// HELPERS
//

.vh { height: 100vh; padding-top: 25vh; }
.white { background-color: #fff; color: #364259; }
.blue { background-color: #364259; color: #fff; }
.yellow { background-color: #F2D98C; color: #364259; }
